.HeadersJeweetzelf{
    padding: 20px;
}
* {
    margin: 0;
    padding: 0;
}
body {
    background-color: aqua;
    
}
.Container{
    margin: 0;
    padding: 0;
    background-color: rgb(25, 25, 25);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 40%;
}
.linktext{
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    text-decoration: none;
    transition: color 0.3s ease 0s;
}
.linktext:hover{
    color: rgb(0, 100, 250);
}
#MAINBTN{
    background-color: rgb(255, 0, 221);
    padding-right: 20px;
    padding-left: 20px;
    font-size: 48px;
    color: white;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    font-weight: 700;
    border-radius: 5px;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all 0.5s ease;
}
#MAINBTN:active{
    background-color: rgb(233, 4, 202);
    color: rgb(0, 100, 250);
}
.TekstMain{
    display: grid;
    place-items: center;
    margin-top: 300px;
}
.Paragraph{
    font-family: 'Ms Madi', cursive;
    font-weight: 700;
    font-size: 48px;
    text-shadow: 2px 2px 4px #999;
    text-align: center;
    margin: auto;
    color: white;
}
@import url('https://fonts.googleapis.com/css?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ms+Madi&display=swap');